/******************************************************************************
* Variables *******************************************************************
******************************************************************************/

$mainBackground = #212121
$textColor = #919191
$primaryColor = #6FA3B4
$primaryBackground = #6FA3B4
$primaryOtherColor = #212121
$menuBackground = rgba(0, 0, 0, 0.75)
$menuTextColor = #fff
$menuCircleColor = #616161
$hoverMenuBackground = #6FA3B4
$borderColor = #919191
$borderRadius = 4px

/******************************************************************************
* General Rules ***************************************************************
******************************************************************************/

.vhh-root-node
  font-family sans-serif
  font-size 12px
  
  *
    box-sizing border-box
    line-height 1em
  
/******************************************************************************
* Helpers *********************************************************************
******************************************************************************/

.clearfix::after
  content "";
  clear both;
  display table;

.noselect
  user-select none